extends ../layout

block content
    h1=playlist.playlist
    br
    h2 A playlist for #{playlist.recipientId}
    br
    p
      a(href='/users/realaddasong/' + playlist._id) Add A Song!
    p List Songs Here
    p=playlist.songIds
    div
      each title in songs
        p=title.name